.wrapper {
   @extend %clear;
   width: 100%;
   margin: 0;
   padding: 0;
   position: relative;
}


.container {
   @extend %clear;
   width: 80%;
   max-width: 1400px;
   margin: 0 auto;
   position: relative;
}

.container--full {
   @extend %clear;
   width: 94%;
   margin: 0 auto;
   position: relative;
}

.container--l {
   @extend %clear;
   width: 82%;
   max-width: 1500px;
   margin: 0 auto;
   position: relative;
}
.container--s {
   @extend %clear;
   width: 82%;
   max-width: 1000px;
   margin: 0 auto;
   position: relative;
}

@media only screen and (max-width:1140px) {
   .container {
      width: 84%;
   }
}
@media only screen and (max-width:900px) {
   .container {
      width: 88%;
   }
}
@media only screen and (max-width:680px) {
   .container--full,
   .container {
      width: 90%;
   }
}




$well: 160px;
$well--xl: 320px;
$well--l: 240px;
$well--s: 40px;
// These variables need to be changed down throughout the breakpoints

.well { padding-top: $well; padding-bottom: $well; }
.well--xl { padding-top: $well--xl; padding-bottom: $well--xl; }
.well--l { padding-top: $well--l; padding-bottom: $well--l; }
.well--s { padding-top: $well--s; padding-bottom: $well--s; }

.pt--xl { padding-top: $well--xl; }
.pt--l { padding-top: $well--l; }
.pt--m { padding-top: $well; }
.pt--s { padding-top: $well--s; }
.pt--none { padding-top: 0; }

.pb--xl { padding-bottom: $well--xl; }
.pb--l { padding-bottom: $well--l; }
.pb--m { padding-bottom: $well; }
.pb--s { padding-bottom: $well--s; }
.pb--none { padding-bottom: 0; }

@media only screen and (max-width:1440px) {
   $well: 11%;
   $well--xl: 22%;
   $well--l: 16.5%;
   $well--s: 40px;

   .well { padding-top: $well; padding-bottom: $well; }
   .well--xl { padding-top: $well--xl; padding-bottom: $well--xl; }
   .well--l { padding-top: $well--l; padding-bottom: $well--l; }
   .well--s { padding-top: $well--s; padding-bottom: $well--s; }

   .pt--xl { padding-top: $well--xl; }
   .pt--l { padding-top: $well--l; }
   .pt--m { padding-top: $well; }
   .pt--s { padding-top: $well--s; }
   .pt--none { padding-top: 0; }

   .pb--xl { padding-bottom: $well--xl; }
   .pb--l { padding-bottom: $well--l; }
   .pb--m { padding-bottom: $well; }
   .pb--s { padding-bottom: $well--s; }
   .pb--none { padding-bottom: 0; }
}

@media only screen and (max-width:1024px) {
   $well: 14%;
   $well--xl: 28%;
   $well--l: 21%;
   $well--s: 36px;

   .well { padding-top: $well; padding-bottom: $well; }
   .well--xl { padding-top: $well--xl; padding-bottom: $well--xl; }
   .well--l { padding-top: $well--l; padding-bottom: $well--l; }
   .well--s { padding-top: $well--s; padding-bottom: $well--s; }

   .pt--xl { padding-top: $well--xl; }
   .pt--l { padding-top: $well--l; }
   .pt--m { padding-top: $well; }
   .pt--s { padding-top: $well--s; }
   .pt--none { padding-top: 0; }

   .pb--xl { padding-bottom: $well--xl; }
   .pb--l { padding-bottom: $well--l; }
   .pb--m { padding-bottom: $well; }
   .pb--s { padding-bottom: $well--s; }
   .pb--none { padding-bottom: 0; }
}

@media only screen and (max-width:768px) {
   $well: 16%;
   $well--xl: 32%;
   $well--l: 24%;
   $well--s: 32px;

   .well { padding-top: $well; padding-bottom: $well; }
   .well--xl { padding-top: $well--xl; padding-bottom: $well--xl; }
   .well--l { padding-top: $well--l; padding-bottom: $well--l; }
   .well--s { padding-top: $well--s; padding-bottom: $well--s; }

   .pt--xl { padding-top: $well--xl; }
   .pt--l { padding-top: $well--l; }
   .pt--m { padding-top: $well; }
   .pt--s { padding-top: $well--s; }
   .pt--none { padding-top: 0; }

   .pb--xl { padding-bottom: $well--xl; }
   .pb--l { padding-bottom: $well--l; }
   .pb--m { padding-bottom: $well; }
   .pb--s { padding-bottom: $well--s; }
   .pb--none { padding-bottom: 0; }
}
@media only screen and (max-width:520px) {
   $well: 18%;
   $well--xl: 36%;
   $well--l: 27%;
   $well--s: 30px;

   .well { padding-top: $well; padding-bottom: $well; }
   .well--xl { padding-top: $well--xl; padding-bottom: $well--xl; }
   .well--l { padding-top: $well--l; padding-bottom: $well--l; }
   .well--s { padding-top: $well--s; padding-bottom: $well--s; }

   .pt--xl { padding-top: $well--xl; }
   .pt--l { padding-top: $well--l; }
   .pt--m { padding-top: $well; }
   .pt--s { padding-top: $well--s; }
   .pt--none { padding-top: 0; }

   .pb--xl { padding-bottom: $well--xl; }
   .pb--l { padding-bottom: $well--l; }
   .pb--m { padding-bottom: $well; }
   .pb--s { padding-bottom: $well--s; }
   .pb--none { padding-bottom: 0; }
}
